<!DOCTYPE html>
<html>
  <head>
    <title>About Pizza</title>
  </head>
      <body>

      <h2 style="text-align: center;">About Pizza</h2>
      <br>

      <ul class="list-group">
  <li class="list-group-item">In our Pizza Shop you will immerse yourself in the world of taste and aroma with every bite of pizza. This delicious treat is not just a meal, but a sensory journey that will take you straight to the heart of Italy.</li>
  <li class="list-group-item">Pizza is not just food, but art. Like a canvas, it tells the story of how here in this place a fine dough with rich flavors and aromas grew.</li>
  <li class="list-group-item">Noisy pegs, swirling bread, hot ingredients... Every bite of pizza is a symphony of flavors and textures that will leave you wanting more. Come and experience the magic for yourself!</li>
  <li class="list-group-item">Pizza is a culinary masterpiece that will leave you in a state of pure delight.</li>
  <li class="list-group-item">Bon appetit!</li>
</ul>
      </body> 
</html>