<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>contacts</title>
	<h2>Our contacts: 8(800)1000-99</h2>
</head>
<body>

</body>
</html>