<!DOCTYPE html>
<html>
	<head>
		<title>Sinatra + Twitter Bootstrap</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/app.css" rel="stylesheet">
		<!-- Bootstrap -->
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	
    <script src="/vendor/jquery-1.9.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
  
	</head>
	<body>

		<div class="container" style="background-color:Gainsboro; opacity: 0.9; " >

			<!-- Static navbar -->
			<nav id="li" class="navbar navbar-default" role="navigation" style="background-color:darkorange ;">

			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" >
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="/"><strong>PizzaShop</strong></a>
			  </div>
			  <div class="navbar-collapse collapse">

			    <ul  class="nav navbar-nav" >
			      <li ><a href="/about"><strong>About</strong></a></li>
			      <li><a href="/something"><strong>Something</strong></a></li>

			    </ul>
			    <ul class="nav navbar-nav navbar-right">
			   	<li>
			   		<form action="/cart" method="post" >
    				<input id="orders_input" name="orders" type="hidden"  />
    				
			   		<input id="orders_button" type="submit" value="Cart (....)"/>
			   	</form>
			   	</li>
			   </ul>
			  </div><!--/.nav-collapse -->
			</nav>

			<div>
			      <%if @error && @error.length > 0 then %>
			          <div class="alert alert-danger"><%=@error%></div>
			      <% end %>
			      <%= yield %>
			</div>

	</div>

	

<script type="text/javascript">
   
$(function() {

     update_orders_input();
  	 update_orders_button();
      
   });

</script>


  
  </body>
</html>
