<!doctype html>
<html lang="en">
<body>
<h2>MENU</h2>
<br>
<div class="container-fluid">
  <div class="row">

 <br>
   <div class="col-md-4">Hawaiian</div>
   <img src="/images/hawaiian.jpg" alt="Pizza is Hawaiian" />
 <br>
<br>

 <br>
  <div class="col-md-4">Pepperoni</div>
  <img src="/images/pepperoni.jpg" alt="Pizza is Pepperoni" />
 <br>
 <br>
 
 <br>
  <div class="col-md-4">Vegetarian</div>
   <img src="/images/veg.jpg" alt="Pizza is Vegetarian" />
  
  </div>
</div>

</body>
</html>