<!DOCTYPE html>
<html>
  <head>

    <title>Order placed</title>

  </head>

      <body>

      <h2>Thank you!</h2>
      <br/>
<p>
Your order has been placed.
</p>


      </body> 
</html>




<script type="text/javascript">
   
$(function() {
     window.localStorage.clear();
     
   });

</script>
