
#orders_button {
	background-color: greenyellow;
	border: none;
	font-size: 20px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	text-decoration: underline;
}
#li {
	
	border: none;
	font-size: 20px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	
}

body {
    background-image: url('/images/pizza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }